{% extends "base.html" %}


{% block sider-clock %}
{% endblock sider-clock %}

{% block content %}
<div class="container p-0 d-flex justify-content-center align-items-center" style="width:410px; height:900px;">
<div class="row h-50 w-100">
  <div class="col">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title text-center">Забыли пароль?</h5>
        <p class="card-text text-center">Введите e-mail, чтобы восстановить пароль. Мы пришлем инструкцию на указанную почту. Если вы не получили письмо в течение <br>10 минут, проверьте папку «Спам».</p>
        <form class="row-inline justify-content-center" method="post">
              {% csrf_token %}
             <div class="form-error">{{form.non_field_errors }}</div>
            
              {% for field in form  %}
              <p > {% comment %} <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label> {% endcomment %}{{field}}</p>
            <div class="form-error text-center">{{field.errors}}</div>
              {% endfor %}
                    <div class="row justify-content-end m-0">
                        <button type="submit" class="btn btn-success">Восстановить</button>
                    </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}



