{% extends "base.html" %}

{% block sider-clock %}
{% endblock sider-clock %}

{% block content %}
<div class="container p-0 d-flex justify-content-center align-items-center" style="width:410px; height:900px;">
<div class="row justify-content-center mt-3">
  <div class="col-auto">
    <div class="card" style="width: 24rem;">
    <div class="row justify-content-end mt-2 m-0 me-2">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Мы выслали, Вам пароль на почту.</h5>
        <p class="card-text text-center">Проверьте, Ваш почтовый ящик и следуйте инструкциям для восстановления пароля.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
