{% extends "base.html" %}

{% block sider-clock %}

{% endblock sider-clock %}
{% block content %}
<div class="container p-0 d-flex justify-content-center align-items-center" style="width:410px; height:900px;">
<div class="row justify-content-center mt-3">
  <div class="col-sm-3 align-items-center" >
    <div class="card" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Введите новый пароль</h5>
                <form class="row-inline justify-content-center" enctype="multipart/form-data" method="post">
            {% csrf_token %}
             <div class="form-error">{{form.non_field_errors }}</div>
            
            {% for field in form  %}
            
                <p> {% comment %} <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label> {% endcomment %}{{field}}</p>
            <div class="form-error text-center">{{field.errors}}</div>
            {% endfor %}
                    <div class="row justify-content-end m-0">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

